@model AgnosticAlbatros.ViewModels.OrdersViewModel

<div class="wrapper">
    <div class="sidebar" data-color="red" style="background-color:#fafafa">
        <div class="logo">
            <a class="simple-text">
                DeliGate
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <i class="material-icons">assingment</i>
                        <p>Bestellingen</p>
                    </a>
                </li>
                <li>
                    <a href="/Users/Index">
                        <i class="material-icons">people</i>
                        <p>Gebruikers</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
            </div>
        </nav>

        <div id="orders-content" class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Bestellingen</h4>
                                <p class="category">placeholder</p>
                            </div>

                            @if (Model.Orders == null || Model.Orders.Count() == 0)
                            {
                                <div class="card-content">
                                    <p class="card-description">Geen bestellingen gevonden.</p>
                                </div>
                            }
                            else
                            {
                                <div class="card-content table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-primary">
                                            <tr>
                                                <th>???</th>
                                                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.CreatedDate)</a>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Orders)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CreatedAt)
                                                    </td>
                                                    <td>
                                                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    Jory Jackmaer
                </p>
            </div>
        </footer>
    </div>
</div>