@model AgnosticAlbatros.ViewModels.OrdersViewModel

<div id="orders-content" class="content-container">
    <div class="top-content">

    </div>
    <div class="scrollable-content">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.CreatedDate)</a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Orders == null || Model.Orders.Count() == 0)
                {
                    <tr>
                        <td>No Orders To Show</td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model.Orders)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="bottom-content">

    </div>
</div>