@model AgnosticAlbatros.ViewModels.CompanyViewModel
@using AgnosticAlbatros.Services
@inject AgnosticAlbatros.Services.IUserService userService

<div id="company-content" class="content-container">
    <div class="top-content">

    </div>
    <div class="scrollable-content">
        <h2>Company</h2>
        <hr/>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Owner
                    </th>
                    <th>
                        Kitchens
                    </th>
                    <th>
                        Users
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.Compnay.Name
                    </td>
                    <td>
                        @Model.owner
                    </td>
                    <td>
                        @Model.Kitchens.Count()
                    </td>
                    <td>
                        @Model.userCount
                    </td>
                    <td>
                        <a asp-action="DetailCompany" asp-route-id="@Model.Compnay.ID">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>
        <h2>Kitchens</h2>
        <hr/>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Created At
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Kitchens == null || Model.Kitchens.Count() == 0)
                {
                    <tr>
                        <td>No Kitchens To Show</td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model.Kitchens)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                <a asp-action="DetailKitchen" asp-route-id="@item.ID">Details</a>

                                @if (userService.User.Admin)
                                {
                                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="bottom-content">
        <a asp-action="Create">Create New</a>
    </div>
</div>