@model AgnosticAlbatros.Models.Api.UserData

<div class="wrapper">
    <div class="sidebar" data-color="red" style="background-color:#fafafa">
        <div class="logo">
            <a class="simple-text">
                DeliGate
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="/Orders/Index">
                        <i class="material-icons">assingment</i>
                        <p></p>
                    </a>
                </li>
                <li class="active">
                    <a href="/Users/Index">
                        <i class="material-icons">people</i>
                        <p></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
            </div>
        </nav>

        <div id="users-container" class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Nieuwe Gebruiker</h4>
                                <p class="category">placeholder</p>
                            </div>

                            <div class="card-content">
                                <form asp-action="Create">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label asp-for="Email" class="control-label">Email *</label>
                                                <input asp-for="Email" class="form-control" type="email" required />
                                                <span asp-validation-for="Email" class="material-icons form-control-feedback">clear</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">
                                                <label asp-for="LastName" class="control-label">Achternaam *</label>
                                                <input asp-for="LastName" class="form-control" required />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group label-floating">
                                                <label asp-for="FirstName" class="control-label">Voornaam *</label>
                                                <input asp-for="FirstName" class="form-control" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group label-floating">
                                                <label asp-for="Tel1" class="control-label">Tel 1</label>
                                                <input asp-for="Tel1" type="tel" class="form-control" />
                                                <span asp-validation-for="Tel1" class="material-icons form-control-feedback">clear</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group label-floating">
                                                <label asp-for="Tel2" class="control-label">Tel 2</label>
                                                <input asp-for="Tel2" type="tel" class="form-control" />
                                                <span asp-validation-for="Tel2" class="material-icons form-control-feedback">clear</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label asp-for="KitchenID" class="control-label">Keuken *</label>
                                                <select class="form-control" asp-for="KitchenID">
                                                    @foreach (var item in Model.Kitchens)
                                                    {
                                                        <option value="@item.ID">@item.Name</option>
                                                    }
                                                </select>
                                                <button class="btn btn-primary" type="button" onclick="toggleNewKitchen()">Nieuwe Keuken</button>
                                            </div>
                                        </div>
                                    </div>

                                    <section id="newKitchen" hidden>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label asp-for="NewKitchenName" class="control-label">Naam</label>
                                                    <input asp-for="NewKitchenName" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="NewKitchenDescription" class="control-label">Beschrijving</label>
                                                    <input asp-for="NewKitchenDescription" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <input type="submit" value="Add" class="btn btn-primary" />
                                    </section>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label asp-for="UserTitleID" class="control-label">Title</label>
                                                <select asp-for="UserTitleID">
                                                    @foreach (var item in Model.UserTitles)
                                                    {
                                                        <option value="@item.ID">@item.Title</option>
                                                    }
                                                </select>
                                                <button class="btn btn-primary" type="button" onclick="toggleNewUserTitle()">New</button>
                                            </div>
                                        </div>
                                    </div>

                                    <section id="newUserTitle" hidden>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label asp-for="NewUserTitle" class="control-label">Title</label>
                                                    <input asp-for="NewUserTitle" class="form-control" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label asp-for="NewUserTitleDescription" class="control-label">Description</label>
                                                    <input asp-for="NewUserTitleDescription" class="form-control" required />
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" value="Add" class="btn btn-primary" />
                                    </section>

                                    <button type="submit" value="Create" class="btn btn-primary" />
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="users-create" class="content-container">
    <h2>New User</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tel1" class="control-label"></label>
                    <input asp-for="Tel1" class="form-control" />
                    <span asp-validation-for="Tel1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tel2" class="control-label"></label>
                    <input asp-for="Tel2" class="form-control" />
                    <span asp-validation-for="Tel2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="KitchenID" class="control-label">Kitchen</label>
                    <select asp-for="KitchenID">
                        @foreach (var item in Model.Kitchens)
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    </select>
                    <button class="btn btn-default" type="button" onclick="toggleNewKitchen()">New</button>
                </div>
                <section id="newKitchen" hidden>
                    <div class="form-group">
                        <label asp-for="NewKitchenName" class="control-label">Name</label>
                        <input asp-for="NewKitchenName" class="form-control" />
                        <span asp-validation-for="NewKitchenName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewKitchenDescription" class="control-label">Description</label>
                        <input asp-for="NewKitchenDescription" class="form-control" />
                        <span asp-validation-for="NewKitchenDescription" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Add" class="btn btn-default" />
                </section>
                <div class="form-group">
                    <label asp-for="UserTitleID" class="control-label">Title</label>
                    <select asp-for="UserTitleID">
                        @foreach (var item in Model.UserTitles)
                        {
                            <option value="@item.ID">@item.Title</option>
                        }
                    </select>
                    <button class="btn btn-default" type="button" onclick="toggleNewUserTitle()">New</button>
                </div>
                <section id="newUserTitle" hidden>
                    <div class="form-group">
                        <label asp-for="NewUserTitle" class="control-label">Title</label>
                        <input asp-for="NewUserTitle" class="form-control" />
                        <span asp-validation-for="NewUserTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewUserTitleDescription" class="control-label">Description</label>
                        <input asp-for="NewUserTitleDescription" class="form-control" />
                        <span asp-validation-for="NewUserTitleDescription" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Add" class="btn btn-default" />
                </section>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>

<script>
    function toggleNewKitchen() {
        $("#newKitchen").removeAttr('hidden');
    }
    function toggleNewUserTitle() {
        $("#newUserTitle").removeAttr('hidden');
    }
</script>
